html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: #333333;
    border-radius: 10px;
    transition: 0.25s;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #4a4a4a;
}

.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: #ffffff;
    padding: 0px 0px;
    margin: 0%;
    grid-gap: 0px 15px;
}

.footer{
    background-color: #121212;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0%;
    padding: 20px 20px;
}

.contenedor-logo-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(45deg,#B37ACB, #7CACE2);
    padding: 15px 15px;
    margin: 0%;
    grid-gap: 10px 10px;
}

.nav-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px 15px;
    margin: 0%;
    grid-gap: 25px 25px;
    background-color: #ffffff;
    box-shadow: 0px 5px 7px #00000015;
}

.nav-1-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    grid-gap: 25px 25px;
    margin: 0%;
    padding: 0%;
}

.nav-1-ul-celular{
    display: none;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: auto;
}

.nav-1-li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0%;
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
    transition: 0.25s;
}

.nav-1-li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2.75px;
    background: linear-gradient(45deg, #B37ACB, 50%, #7CACE2);  /* Cambia el color del borde según tu diseño */
    transition: width 0.25s, left 0.25s;
    transform: translateX(-0%); /* Centra el borde */
}

.nav-1-li:hover::before {
    width: 100%;
    left: 0;
}

.nav-1-li a{
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: clamp(13px, 1.3vw, 18px);
    font-weight: 600;
    margin: 0%;
    padding: 0%;
}

.nav-1-li a:visited{
    color: #000000;
}

.main{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
    grid-gap: 0% 0%;
}

.section-universal{
    width: 1000%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    padding: 40px 40px;
    margin: 0%;
    grid-gap: 40px 40px;
}

.section-universal-parte-1{
    width: calc(50% - 20px);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.section-universal-parte-2{
    width: calc(50% - 20px);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-gap: 25px 25px;
}

.contenedor-boton-flotante{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
}

.contenedor-universal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding:0%;
    margin: 0%;
    grid-gap: 0%;
}

.contenedor-redes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0%;
    margin: 0%;
    grid-gap: 20px 20px;
    position: absolute;
    bottom: 10px;
    left: 0%;
}

.contenedor-redes a{
    z-index: 2 !important;
}

.h2-1{
    display: block;
    color: #000000;
    font-size: clamp(17px, 2vw, 28px);
    padding: 0%;
    margin: 0%;
    text-transform: uppercase;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.h2-2{
    color: #ffffff;
    font-size: clamp(25px, 2.75vw, 40px);
    padding: 0%;
    margin: 0%;
    text-transform: uppercase;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 80%;
    text-align: center;
}

.h2-3{
    display: none;
    color: #000000;
    font-size: clamp(16px, 2vw, 28px);
    padding: 0%;
    margin: 0%;
    text-transform: uppercase;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.parrafo-membresias-promocionales{
    color: #ffffff;
    font-size: 26px;
    padding: 0%;
    margin: 0%;
    text-transform: uppercase;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: auto;
    height: auto;
    text-align: center;
}

.parrafo-membresias-promocionales-2{
    color: #ffffff;
    font-size: 21px;
    padding: 0%;
    margin: 0%;
    text-transform: uppercase;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: auto;
    height: auto;
    text-align: center;
}

.logo{
    height: 50px;
}

.fa-whatsapp{
    color: #ffffff;
    font-size: 30.5px;
    transition: 0.25s;
    z-index: 1;
    cursor: pointer;
}

.fa-whatsapp:hover{
    color: #128c7e;
}

.fa-square-share-nodes{
    color: #ffffff;
    font-size: 30.5px;
    transition: 0.25s;
    z-index: 1;
    cursor: pointer;
}

.fa-square-share-nodes:hover{
    color: #EF3C3C;
}

.fa-facebook{
    color: #ffffff;
    font-size: 28px;
    transition: 0.25s;
    z-index: 1;
    cursor: pointer;
}

.fa-facebook:hover{
    color: #1877f2;
}

.fa-x-twitter{
    color: #ffffff;
    font-size: 30.5px;
    transition: 0.25s;
    z-index: 1;
    cursor: pointer;
}

.fa-x-twitter:hover{
    color: #cccccc;
}

.fa-copyright{
    color: #ffffff;
    font-size: 42.5px;
    transition: 1.25s;
}

.fa-star{
    color: #ffffff;
    font-size: 42.5px;
    transition: 1.25s;
}

.fa-newspaper{
    color: #ffffff;
    font-size: 42.5px;
    transition: 1.25s;
}

.fa-users{
    color: #ffffff;
    font-size: 42.5px;
    transition: 1.25s;
}

.fa-calendar-days{
    color: #ffffff;
    font-size: 42.5px;
    transition: 1.25s;
}

.fa-share-from-square{
    color: #ffffff;
    font-size: 42.5px;
    transition: 1.25s;
}

.fa-crown{
    color: #ffffff;
    font-size: 35px;
}

.fa-business-time{
    color: #ffffff;
    font-size: 35px;
}

.fa-arrow-up{
    color: #ffffff;
    font-size: 23px;
    cursor: pointer;
    transition: 0.25s;
}

.fa-cart-shopping{
    color: #ffffff;
    font-size: 23px;
    cursor: pointer;
    transition: 1.25s;
}

.transformed{
    transform: translateX(50px) rotate(-15deg);
}

.fa-bars{
    color: #000000;
    font-size: 25px;
    cursor: pointer;
    transition: 0.25s;
}

.fa-bars:hover{
    background: linear-gradient(45deg, #B37ACB, 50%, #7CACE2);
    -webkit-background-clip: text;
    color: transparent;
}

.fa-xmark{
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
    transition: 0.25s;
}

.fa-xmark:hover{
    transform: rotate(180deg);
    background: linear-gradient(45deg, #B37ACB, 50%, #7CACE2);
    -webkit-background-clip: text;
    color: transparent;
}

.fa-xmark:active{
    transform: scale(0.85) rotate(180deg);
}

.section-menu-celular-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    align-content: space-between;
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: #1e1e1e;
}

.contenedor-menu-celular-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 15px 15px;
}

.contenedor-menu-celular-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    grid-gap: 20px 20px;
    padding: 0px 25px;
    flex-direction: column;
}

.contenedor-menu-celular-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.menu-celular-opciones{
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 15px 15px;
    cursor: pointer;
    transition: 0.25s;
    border-radius: 10px;
    position: relative;
}

.menu-celular-opciones a{
    color: #ffffff;
    padding: 0%;
    margin: 0%;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
}

.menu-celular-opciones a:visited{
    color: #ffffff;
}

.menu-celular-opciones::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2.75px;
    background: linear-gradient(45deg, #B37ACB, 50%, #7CACE2);  /* Cambia el color del borde según tu diseño */
    transition: width 0.25s, left 0.25s;
    transform: translateX(-0%); /* Centra el borde */
}

.menu-celular-opciones:hover::before {
    width: 100%;
    left: 0;
}

#countdown{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: clamp(15px, 1.5vw, 30px);
    grid-gap: 15px 15px;
}

.hours{
    background-color: #ffffff;
    border-radius: 10px;
    color: #000000;
    padding: 10px 10px;
}

.minutes{
    background-color: #ffffff;
    border-radius: 10px;
    color: #000000;
    padding: 10px 10px;
}

.seconds{
    background-color: #ffffff;
    border-radius: 10px;
    color: #000000;
    padding: 10px 10px;
}

.display-estado-1{
    display: flex;
    flex-wrap: wrap;
    width: auto !important;
    min-width: auto !important;
    max-width: auto !important;
    color: #ffffff;
    font-size: clamp(30px, 4vw, 60px);
    padding: 0%;
    margin: 0%;
    text-transform: uppercase;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}

.tarjeta-beneficios{
    border-radius: 10px;
    width: 130px;
    height: 130px;
    background: linear-gradient(45deg, #B37ACB, #7CACE2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    transition: 0.25s;
    margin: 0%;
    padding: 10px 10px;
    grid-gap: 10px 10px;
}

.tarjeta-beneficios-parte-1{
    width: auto;
    height: calc(50% - 5px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-bottom: 2px #ffffff solid;
    padding: 5px 30px;
}

.tarjeta-beneficios-parte-2{
    width: 100%;
    height: calc(50% - 15px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
}

.tarjeta-beneficios:hover{
    box-shadow: 0px 0px 7px #00000050;
}

.tarjeta-beneficios:hover i{
    transform: rotate(360deg);
}

.tarjeta-membresias-1{
    border-radius: 10px;
    background-image: url('../images/fondo-tarjeta-planes.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 21%;
    min-width: 270px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    margin: 0%;
    grid-gap: 15px 15px;
    transition: 0.25s;
}

.tarjeta-membresias-1:hover{
    transform: translateY(-5px)
}

.tarjeta-membresias-1-header{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0%;
    padding: 0%;
    grid-gap: 10px 10px;
    border-bottom: 2px #ffffff solid;
    padding-bottom: 10px;
}

.tarjeta-membresias-1-main{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    margin: 0%;
    padding: 0%;
    grid-gap: 12.5px 12.5px;
    flex-grow: 1;
}

.tarjeta-membresias-1-footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0%;
    padding: 0%;
    grid-gap: 8px 8px;
    border-top: 2px #ffffff solid;
    padding-top: 15px;
}

.tarjeta-membresias-promocionales{
    border-radius: 15px;
    width: 170px;
    height: 170px;
    background-image: url('../images/fondo-tarjeta-planes.webp');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 5px #00000050;
    margin: 0%;
    padding: 0%;
}

.tarjeta-membresias-promocionales-2{
    border-radius: 15px;
    width: 145px;
    height: 145px;
    background-image: url('../images/fondo-tarjeta-planes.webp');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 5px #00000050;
}

.boton-carrito-de-compra{
    position: fixed;
    bottom: 70px;
    right: 10px;
    width: 50px;
    height: 50px;
    border: none;
    background: #d92f2f;
    border-radius: 100%;
    z-index: 3;
    transition: 0.25s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    text-decoration: none;
}

.boton-carrito-de-compra:visited{
    color: #ffffff !important;
}

.boton-scroll{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border: none;
    background: linear-gradient(45deg, #B37ACB, #7CACE2);
    border-radius: 100%;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.3s ease;
    transition: 0.25s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.boton-scroll:hover{
    box-shadow: 0px 0px 7px #00000050;
}

.boton-scroll.show{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
	display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-content: center !important;
}

.boton-1{
    background-color: #EF3C3C;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 0%;
    cursor: pointer;
    transition: 0.25s;
    text-transform: uppercase;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(12px, 1vw, 15px);
    width: auto;
    height: auto;
    text-decoration: none;
    z-index: 1;
}

.boton-1:hover{
    background-color: #d92f2f;
}

.boton-1:active{
    transform: scale(0.9);
    background-color: #bd2323;
}

.boton-1:visited{
    color: #ffffff;
}

.color-deg-1 {
    background: linear-gradient(45deg, #B37ACB, #7CACE2) !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
}

.color-blanco{
    color: #ffffff !important;
    z-index: 2;
}

.color-negro{
    color: #000000 !important;
    z-index: 2;
}

.fondo-imagen-negra{
    position: relative;
    background-image: url('../images/fondo-tarjeta-planes.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.fondo-deg-1{
    background: linear-gradient(45deg, #B37ACB, #7CACE2) !important;
}

.fondo-gris{
    background-color: #efefef !important;
}

.fondo-header {
    position: relative;
    background-image: url('../images/imagen-1.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.fondo-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.parrafo-1{
    font-size: clamp(15px, 1.5vw, 25px);
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    z-index: 1;
    padding: 0%;
    margin: 0%;
    text-align: center;
    width: 60%;
}

.parrafo-2{
    font-size: clamp(15px, 0.9vw, 18px);
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    z-index: 1;
    padding: 0%;
    margin: 0%;
    text-align: start;
    width: 100%;
}

.parrafo-3{
    font-size: clamp(21px, 1.5vw, 26px);
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    z-index: 1;
    padding: 0%;
    margin: 0%;
    text-align: start;
    width: 100%;
}

.parrafo-4{
    font-size: clamp(20px, 1.5vw, 25px);
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    z-index: 1;
    padding: 0%;
    margin: 0%;
    text-align: center;
    width: 100%;
}

.parrafo-5{
    font-size: clamp(15px, 1.5vw, 25px);
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    z-index: 1;
    padding: 0%;
    margin: 0%;
    text-align: center;
    width: 60%;
}

.parrafo-6{
    font-size: clamp(15px, 1vw, 19px);
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    z-index: 1;
    padding: 0%;
    margin: 0%;
    text-align: center;
    width: 100%;
}

.ajuste-grid-1{
    grid-gap: 15px 15px !important;
}

.ajuste-grid-2{
    grid-gap: 20px 20px !important;
}

.ajuste-grid-padding-section-1{
    grid-gap: 20px 20px !important;
    padding: 150px 40px;
}

.position-relative{
    position: relative !important;
}

.ajuste-margin-1{
    margin-bottom: 0px !important;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
}

.carousel-track {
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease;
}

.carousel-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.carousel-prev,
.carousel-next {
    background: linear-gradient(45deg, #B37ACB, #7CACE2);
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    color: #ffffff;
    transition: 0.25s;
}

.carousel-prev:active,
.carousel-next:active {
    transform: scale(0.9);
    color: #333333;
}

.carousel-2{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 10px 0px;
}

.carousel-track-2{
    display: flex;
    gap: 20px;
    animation: scroll 35s linear infinite;
}

.carousel-3{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 10px 0px;
}

.carousel-track-3{
    display: flex;
    gap: 20px;
    animation: scroll 35s linear infinite;
}

.imagen-relative-logo{
    position: absolute;
    top: 10px;
    left: 10px;
    object-fit: cover;
    width: 25px;
    height: 25px;
}

.imagen-card-testimonio{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px #ffffff solid;
}

.imagen-card-testimonio-2{
    object-fit: cover;
    width: auto;
    height: 100px;
}

.imagen-card-marcas{
    object-fit: cover;
    width: auto;
    height: 100px;
}

.card{
    font-size: 13px;
    min-width: 250px;
    padding: 17.5px 17.5px;
    background: #333333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    grid-gap: 12.5px 0px;
    transition: 0.25s;
    position: relative;
    cursor: pointer;
}

.card:hover{
    transform: translateY(-10px);
}

.card-2{
    font-size: 13px;
    min-width: 250px;
    padding: 17.5px 17.5px;
    background: #333333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    grid-gap: 12.5px 0px;
    transition: 0.25s;
    position: relative;
    cursor: pointer;
}

.card-2:hover{
    transform: translateY(-10px);
}

.card-3{
    font-size: 13px;
    min-width: 290px;
    height: auto;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    grid-gap: 0px 0px;
    transition: 0.25s;
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    color: #000000;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.card-3:hover{
    transform: translateY(-10px);
}

.contenedor-card-testimonio-imagen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    padding: 15px 5px;
    background-color: #db0913;
}

.contenedor-card-testimonio-texto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    padding: 15px 5px;
}

/* Animación para desplazamiento infinito */
@keyframes scroll{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.card{
    font-size: 1rem;
    color: #000000;
    font-family: Arial, sans-serif;
}

.tarjetas-container{
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
}

.tarjeta{
    background: linear-gradient(45deg, #B37ACB, #7CACE2);
    color: #ffffff;
    border-radius: 5px;
    width: 250px; /* Ancho de la tarjeta */
    text-align: left; /* Alineación del texto a la izquierda */
    opacity: 0;
    transform: translateY(100px);
    animation: subir 10s ease-in-out infinite;
    box-shadow: 0px 0px 10px #00000030;
    text-decoration: none;
    font-family: "Inter", serif;
    font-size: 12.5px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    gap: 10px;
    overflow: hidden;
}

.tarjeta img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

@keyframes subir {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    25% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(-50px);
    }
    75% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 0;
        transform: translateY(100px);
    }
}

/* Generar el retraso para que las tarjetas tengan un efecto escalonado */
.tarjeta:nth-child(1) {
    animation-delay: 0s;
}

.tarjeta:nth-child(2) {
    animation-delay: 1s;
}

.tarjeta:nth-child(3) {
    animation-delay: 2s;
}

.tarjeta:nth-child(4) {
    animation-delay: 3s;
}

.compra-pendiente{
    border-radius: 100%;
    background-color: #000000;
    position: absolute;
    top: -0.75px;
    left: -0.75px;
    width: 15px;
    height: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 2.5px 2.5px;
    z-index: 3;
}

.compra-pendiente p{
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
}

@media screen and (min-width: 801px) and (max-width: 1140px){
    .section-universal{
        grid-gap: 20px 20px;
        padding: 20px 20px;
    }

    .tarjeta-membresias-promocionales{
        width: 120px;
        height: 120px;
        border-radius: 15px;
    }
    
    .tarjeta-membresias-promocionales-2{
        width: 95px;
        height: 95px;
        border-radius: 15px;
    }
    
    .parrafo-membresias-promocionales{
        font-size: 17px;
    }
    
    .parrafo-membresias-promocionales-2{
        font-size: 13.5px;
    }

    .tarjeta-membresias-1{
        width: calc(50% - 50px);
        min-width: 0px;
    }

    .parrafo-5{
        width: 80%;
    }

    .fa-crown{
        font-size: 32px;
    }
    
    .fa-business-time{
        font-size: 32px;
    }

    .ajuste-grid-padding-section-1{
        grid-gap: 20px 20px !important;
        padding: 125px 40px;
    }
}

@media screen and (min-width: 0px) and (max-width: 800px) {

    .carousel-track-2{
        animation: scroll 7.5s linear infinite;
    }

    .carousel-track-3{
        animation: scroll 7.5s linear infinite;
    }

    .card{
        min-width: 150px;
    }

    .card-2{
        min-width: 150px;
    }

    .imagen-card-testimonio{
        height: 75px;
        width: 75px;
    }

    .imagen-card-testimonio-2{
        height: 75px;
    }

    .imagen-card-marcas{
        height: 75px;
    }

    .section-universal{
        grid-gap: 20px 20px;
        padding: 20px 20px;
    }

    .logo{
        height: 40px;
    }

    .nav-1-ul{
        display: none;
    }

    .nav-1-ul-celular{
        display: flex;
    }

    .h2-1{
        width: 100%;
        text-align: center;
    }

    .h2-3{
        width: 100%;
        text-align: center;
    }

    .h2-2{
        width: 100%;
    }

    .hours{
        border-radius: 8px;
        padding: 8px 8px;
    }
    
    .minutes{
        border-radius: 8px;
        padding: 8px 8px;
    }
    
    .seconds{
        border-radius: 8px;
        padding: 8px 8px;
    }

    .display-estado-1{
        display: none;
    }

    .contenedor-logo-1{
        padding: 20px 15px;
        grid-gap: 5px 5px;
    }

    #countdown{
        grid-gap: 8px 8px;
    }

    .section-universal-parte-1{
        width: 100%;
    }

    .section-universal-parte-2{
        width: 100%;
        grid-gap: 15px 15px;
    }

    .tarjeta-membresias-promocionales{
        width: 120px;
        height: 120px;
    }
    
    .tarjeta-membresias-promocionales-2{
        width: 105px;
        height: 105px;
    }
    
    .parrafo-membresias-promocionales{
        font-size: 19px;
    }
    
    .parrafo-membresias-promocionales-2{
        font-size: 15px;
    }

    .parrafo-1{
        width: 100%;
    }

    .parrafo-5{
        width: 100%;
    }

    .ajuste-grid-padding-section-1{
        padding: 50px 15px !important;
    }

    .fa-crown{
        font-size: 33px;
    }
    
    .fa-business-time{
        font-size: 33px;
    }

    .fa-copyright{
        font-size: 35px;
    }
    
    .fa-star{
        font-size: 35px;
    }
    
    .fa-newspaper{
        font-size: 35px;
    }
    
    .fa-users{
        font-size: 35px;
    }
    
    .fa-calendar-days{
        font-size: 35px;
    }
    
    .fa-share-from-square{
        font-size: 35px;
    }

    .fa-whatsapp{
        font-size: 20.5px;
    }

    .fa-square-share-nodes{
        font-size: 20.5px;
    }

    .fa-facebook{
        font-size: 18px;
    }

    .fa-x-twitter{
        font-size: 20.5px;
    }

    .ajuste-margin-1{
        margin-bottom: 25px !important;
    }

    .tarjeta {
        display: none;
    }

    .card-3{
        min-width: 240px;
    }

    .carousel-prev,
    .carousel-next {
        width: 40px;
        height: 40px;
        font-size: 15px;
    }
}

@media screen and (min-width: 501px) and (max-width: 800px){
    .tarjeta-membresias-1{
        width: calc(50% - 50px);
        min-width: 0px;
    }
}

@media screen and (min-width: 501px) and (max-width: 600px){
    .tarjeta-membresias-1{
        width: calc(100%);
        min-width: 0px;
    }
}

@media screen and (min-width: 0px) and (max-width: 500px){
    .section-universal{
        grid-gap: 15px 15px;
    }
    
    .tarjeta-membresias-promocionales{
        width: 105px;
        height: 105px;
        border-radius: 10px;
    }
    
    .tarjeta-membresias-promocionales-2{
        width: 90px;
        height: 90px;
        border-radius: 10px;
    }
    
    .parrafo-membresias-promocionales{
        font-size: 17px;
    }
    
    .parrafo-membresias-promocionales-2{
        font-size: 13.5px;
    }

    .tarjeta-membresias-1{
        width: 100%;
        min-width: 0px;
    }
}

@media screen and (min-width: 0px) and (max-width: 400px){
    .tarjeta-beneficios{
        width: 110px;
        height: 110px;
    }

    .tarjeta-membresias-promocionales{
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
    
    .tarjeta-membresias-promocionales-2{
        width: 85px;
        height: 85px;
        border-radius: 10px;
    }

    .h2-1{
        display: none;
    }

    .h2-3{
        display: block;
        width: 100%;
        text-align: center;
    }

    .parrafo-membresias-promocionales{
        font-size: 15px;
    }
    
    .parrafo-membresias-promocionales-2{
        font-size: 12px;
    }
}